@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
     --Dark_Blue : hsl(209, 23%, 22%);/* (Dark Mode Elements)*/
     --Very_Dark_Blue : hsl(207, 26%, 17%);
     --Very_Dark_Blue1 : hsl(200, 15%, 8%);/* (Light Mode Text) */
     --Dark_Gray : hsl(0, 0%, 52%)/* (Light Mode Input) */
     --Very_Light_Gray : hsl(0, 0%, 98%);/* (Light Mode Background) */
     --White : hsl(0, 0%, 100%); /* (Dark Mode Text & Light Mode Elements) */
}
body{

    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;

}
/* .flower {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1240px;
    gap: 0.7rem;

} */
main{
    display: flex;
    flex-direction: column;
    background-color:var(--Very_Dark_Blue1);
    color:var(--White);
    width: 100%;
     height: 100vh;
    overflow:auto;
    
    
}
.section{
    width: 80%;
    background-color: var(--Very_Dark_Blue);
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0 auto;
    gap: 2rem;
    overflow: auto;
    
}
.header{
    background-color: var(--Dark_Blue);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:100%;
    padding:1rem 3rem ;
    gap: 2rem;
    font-size: 0.5rem;;
}
/*-----------------------------------------------MEDIA QUERIES-------------------------------------------*/
@media only screen and (max-width:600px) {
    .header {
     font-size: 0.4rem;
     padding: 1rem 1rem;
        }
    
}

/*-----------------------------------------------MEDIA QUERIES-------------------------------------------*/
.dark-mode{
    display: flex;
    gap: 0.9rem;
    align-items: center;
}

/*-----------------------------------------------MEDIA QUERIES-------------------------------------------*/
@media only screen and (max-width:600px) {
    .dark-mode{
    gap: 0.7rem;
    }

}

/*-----------------------------------------------MEDIA QUERIES-------------------------------------------*/
.filter_search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
/*-----------------------------------------------MEDIA QUERIES-------------------------------------------*/
 @media  only screen and (max-width:600px){
    .filter_search {
     display: block;
    
     
    
        }
    
 }
/*-----------------------------------------------MEDIA QUERIES-------------------------------------------*/

.search_bar{
    background-color: var(--Dark_Blue);
    border-radius: 0.4rem;
    display: flex;
    align-items: center;
    padding: 1rem;
    width: 40%;
    margin-left: 3rem;
    

}

/*-----------------------------------------------MEDIA QUERIES-------------------------------------------*/
@media only screen and (max-width:600px) {
    .search_bar {
    width: 90%;
    margin: 0 auto;
        }
    
}

/*-----------------------------------------------MEDIA QUERIES-------------------------------------------*/
#search-input, #search-input:focus, #search-input:active {
    background-color: transparent;
     border: none;
    outline:none; 
    width: max-content;
    margin-left: 0.8rem;
    color: var(--White);
}
#search-input::placeholder{
  background-color:var(--Dark_Blue) ;
  font-size: 0.8rem;
  color: var(--White,0.6);
}

.filter{
  background-color: var(--Dark_Blue);
  margin: 0rem  3rem 0rem 1rem;
  padding: 1rem;
  border-radius: 0.4rem;
  outline: none;
  border:none;
  color: var(--White,0.7);
  font-size: 0.8rem;
}
/*-----------------------------------------------MEDIA QUERIES-------------------------------------------*/
@media only screen and (max-width:600px) {
    .filter{
    width: 60%;
    margin: 1.5rem 2rem 0rem 1rem;
}
}
/*-----------------------------------------------MEDIA QUERIES-------------------------------------------*/
.option{
    font-size: 0.7rem;
    
} 
.countrycardContainer{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    max-width: 1240px;

    
} 
/*-----------------------------------------------MEDIA QUERIES-------------------------------------------*/
 @media only screen and (max-width:600px) {
    .countrycardContainer{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        /* gap: 0.7rem;  */
        grid-area: 0.2rem;
        max-width: 1240px;
        margin:3rem auto;
        }
 } 

/*-----------------------------------------------MEDIA QUERIES-------------------------------------------*/

.country-card{
    background-color:var(--Dark_Blue) ;
    border-radius: 0.4rem; 
    display: flex;
    flex-direction: column;
    gap: 0.5rem; 
    width: 75%;
    margin:0 auto 50px auto;
    line-height: 1rem;
    font-size: 10px;
}
/*-----------------------------------------------MEDIA QUERIES-------------------------------------------*/


/*-----------------------------------------------MEDIA QUERIES-------------------------------------------*/
.flag{
    width: 100%;
    height: 150%;
    /* border: 2px solid red;*/
} 
.card-text{
  
  padding: 5px 15px 15px 15px;
/* border: 2px solid red; */
}

countryName{
    margin: 0rem 0rem 2rem 0rem ;
    font-size:0.5rem ;
}
p{
font-size: 0.4rem
}
div .disabled{
display: none;
}