@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --Dark_Blue: hsl(209, 23%, 22%);
    /* (Dark Mode Elements)*/
    --Very_Dark_Blue: hsl(207, 26%, 17%);
    --Very_Dark_Blue1: hsl(200, 15%, 8%);
    /* (Light Mode Text) */
    --Dark_Gray: hsl(0, 0%, 52%)
        /* (Light Mode Input) */
        --Very_Light_Gray: hsl(0, 0%, 98%);
    /* (Light Mode Background) */
    --White: hsl(0, 0%, 100%);
    /* (Dark Mode Text & Light Mode Elements) */
}

body {

    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;

}

main {
    display: flex;
    flex-direction: column;
    background-color: var(--Very_Dark_Blue1);
    color: var(--White);
    width: 100%;
    height: 100vh;
    overflow: auto;


}

.section {
    width: 80%;
    background-color: var(--Very_Dark_Blue);
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0 auto;
    gap: 2rem;
    overflow: auto;

}

.header {
    background-color: var(--Dark_Blue);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 3rem 3rem;
    gap: 2rem;
    font-size: 0.5rem;
}
/*-----------------------------------------------MEDIA QUERIES-------------------------------------------*/
@media only screen and (max-width:600px) {
    .header {
        padding: 3rem 1rem;

    }

}

/*-----------------------------------------------MEDIA QUERIES-------------------------------------------*/

.dark-mode {
    display: flex;
    gap: 0.9rem;
    align-items: center;
}

.search_bar {
    background-color: var(--Dark_Blue);
    border-radius: 0.4rem;
    display: flex;
    align-items: center;
    padding: 1rem;
    width: 90%;
    margin: 0 auto;

}

#input {
    background-color: transparent;
    border: none;
    outline: none;
    width: max-content;
    margin-left: 0.8rem;
    color: var(--White);
}

#input::placeholder {
    font-size: 0.8rem;
    color: var(--White, 0.6);
}

.back{
    display: flex;
     gap: 0.8rem;
     align-items: center;
    background-color: var(--Dark_Blue);
    width: 20%;
    margin: 1.5rem 1rem 3rem 1rem;
    padding: 1rem 2.5rem;
    border-radius: 0.4rem;
    outline: none;
    border: none;
    color: var(--White, 0.7);
    font-size: 1rem;
}
/*-----------------------------------------------MEDIA QUERIES-------------------------------------------*/
@media only screen and (max-width:600px) {
    .back{
        width: 40%;
        padding: 1rem;
        
    }

}
/*-----------------------------------------------MEDIA QUERIES-------------------------------------------*/

.country-card {
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin: 0 3rem;
    padding: 0 0 15rem 0;
    line-height:1.5rem;
    border: 3px solid red;
}

/*-----------------------------------------------MEDIA QUERIES-------------------------------------------*/
@media only screen and (max-width:600px) {
    .country-card{
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 75%;
    margin: 0;
    line-height: 1.5rem;
    border: 2x solid red;
    }

        
    }


/*-----------------------------------------------MEDIA QUERIES-------------------------------------------*/


.flag {
    width: 45%;
}
.flag>img{
    width: 100%;
    height: 100%;
}
.card-text {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    padding: 0 2rem;
}
/*-----------------------------------------------MEDIA QUERIES-------------------------------------------*/
@media only screen and (max-width:600px) {
    .card-text {
            margin-top: 1rem;
        }

}


/*-----------------------------------------------MEDIA QUERIES-------------------------------------------*/

.card-text1{
    display: flex;
    flex-direction: row;
       
    }
.Best{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.Best1{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.para{
  background-color: var(--Dark_Blue);
  padding: 0.7rem;
  font-size: 0.8rem;
}

.part{
    font-weight: 700;
    font-size: 0.6rem;
}
/*-----------------------------------------------MEDIA QUERIES-------------------------------------------*/
@media only screen and (max-width:600px) {
    .part{
        font-weight: 700;
        
    }

}


/*-----------------------------------------------MEDIA QUERIES-------------------------------------------*/
.part_detail{
    font-size: 0.6rem;
    font-weight: 300;
}